/* CSS declarations go here */

.map-row {
	height:100%;
	width:100%;
}

#map-canvas {
  border: 2px solid;
	width:  620px;
	height: 780px;

}

.textStuff{
  background-color:  #669999;
}

body {
  background-color: grey;
}

#pickName {
  font-size:.6em;
}

#pickDate {
  font-size:.6em;
}

#pickTime{
  font-size:.6em;
}

#coming{
  font-size:.6em;
}